<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Contacts</title>
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body id="fig2">
<header>
<p> <a href="index.html"> <img id="header1" src="img/logol.png" alt="img"> </a> </p>
<br>
<br>
<br>
<nav>  
  <a href="index.html" target="CONTENT">Home</a>
  <a href="about.html" target="CONTENT">About</a>  
  <a href="contacts.html" target="CONTENT">Contacts</a>
  <a href="history.html" target="CONTENT">History</a>
  <a href="fashion.html" target="CONTENT">Fashion</a></nav> 
</header>
<h1 id="ab"><i>Contacts</i></h1>

<h2> <i>
Here you can contact me or leave your messages 
</i>
</h2>
<p>  <img id="img3" src="img/letter.png"  alt="image" class="pad2">
<b>Please leave your comments here </b></p>
<form>
    <div>
      <label for="name">Name</label>
      <input id="name" name="name" title="Please provide your Name.">
    </div>
    <div>
      <label for="email">E-mail</label>
      <input id="email" name="email" title="Please provide your E-mail.">
    </div>
    <div>
      <label for="comments">Comments</label>
      <input id="comments" name="comments" title="Write your Comments.">
    </div>
    <input type="button" value="Submit">
</form>


<footer>
<p id = "footer"> <b><i>I am in social networks Laura Zhenisova </i> </b> <br> <br> 
<a href="https://www.facebook.com/zhengissova.laura"><img id="img6" src="img/img3.png" alt="img">
</a>
<a href="https://www.instagram.com/lzhenisova/?hl=ru"><img id="img7" src="img/img4.png" alt="img">
</a> 
<a href="https://vk.com"><img id="img8" src="img/img5.png" alt="img"> </a></p>
<p id="footer2"><b><i>Telephone: </i> </b> <a href="tel:+77772649518">+77772649518 </a></p>
</footer>
</body>
 </html> 