<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Blog Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="mystyle.css">
<link rel="stylesheet" type="text/css" href="jquery-ui/jquery-ui.css">
<link rel="stylesheet" href="jquery-ui/jquery-ui.structure.css">
<link rel="stylesheet" href="jquery-ui/jquery-ui.theme.css">
<script src="jquery-3.1.1.js"></script>
<script src="jquery-ui/jquery-ui.js"></script>
</head>

<body id="fig">
<header>
<p> <a href="index.html"><img id="header" src="img/logol.png" alt="img"> </a></p>
<br>
<br>
<br>
  <nav>
  <a href="index.html" target="CONTENT">Home</a>
  <a href="about.html" target="CONTENT">About</a>  
  <a href="contacts.html" target="CONTENT">Contacts</a>
  <a href="history.html" target="CONTENT">History</a>
  <a href="fashion.html" target="CONTENT">Fashion</a></nav>
</header>

<h1> <i>Welcome to my Blog page</i></h1>

<pre>
<b> <i>Fashion is not something that exists in dresses only. 
Fashion is in the sky, in the street, 
Fashion has to do with ideas, 
The way we live, what is happening.

Coco Chanel </i></b>
</pre>
<div id="para1"> <i> This Blog is about fashion, design clothes, and I am going to compare between brands and their designers. </i> <br>

<i>Actually, the basic idea is on making some critic posts about the replics and lux copies of brands.</i> <br> 

<i>Or it can be some news, ideas that I would like to share on my page!</i></div>

<div id="slide">
<marquee height="250" onmouseout="this.start()" onmouseover="this.stop()" scrollamount="5" width="250">
<a href="index.html"> <img id="img7" src="img/imgg.jpg" /></a>
<a href="history.html"><img id="img7" src="img/imggg.jpg" /></a>
<a href="fashion.html"><img id="img7" src="img/imgggg.jpg" /></a>
	<p>See also interesting site about Galaxy:</p>
<a href="galaxy.html"><img id="img7" src="img/imggggg.jpg" /></a>
</marquee>
</div>
<footer>
    <p id="footer2"><b><i>Copyright Laura Zhenisova</i></b></p>
</footer>
</body>
</html>